<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>staff</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.zr.staff.web.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentServlet</display-name>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>com.zr.staff.web.DepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/DepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobServlet</display-name>
    <servlet-name>JobServlet</servlet-name>
    <servlet-class>com.zr.staff.web.JobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobServlet</servlet-name>
    <url-pattern>/JobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.zr.staff.web.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeServlet</display-name>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>com.zr.staff.web.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/NoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentServlet</display-name>
    <servlet-name>DocumentServlet</servlet-name>
    <servlet-class>com.zr.staff.web.DocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentServlet</servlet-name>
    <url-pattern>/DocumentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaceServlet</display-name>
    <servlet-name>FaceServlet</servlet-name>
    <servlet-class>com.zr.staff.web.FaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaceServlet</servlet-name>
    <url-pattern>/FaceServlet</url-pattern>
  </servlet-mapping>
</web-app>